<% provide(:title, "About") %>
<h1 class="title">О Сайте</h1>

<div class="block block_help input">
  <p class="help_text">
    Данный сайт "Web-Novels" является сборником нескольких интерактивных Веб-новелл, свободных для прочтения.
    <br>Вы можете зарегистрироваться на сайте, для того что бы ваш прогресс в новеллах сохранялся и вы всегда могли продолжить с того места, на котором закончили.
    <br>Данные, введённые во время регистрации могут быть отредактированы, в "Настройки". Конечно данные об имени пока ни на что не влияют, но в будущем обязательно будут:)
    <br>По любым вопросам, отзывам и предложениям, просьба обращаться по почте: uflbufl@yandex.ru

  </p>

</div>