<% provide(:title, "Help") %>
<h1 class="title">Помощь</h1>

<div class="block block_help input">

  <p class="help_text">
    <%= image_tag('help.png', class: "help_img") %>
    Здравствуйте, если у вас возникли какие либо вопросы или трудности с сайтом, то прошу обращаться по почте: uflbufl@yandex.ru
    <br>Ниже я постараюсь ответить на возможные и часто задаваемые вопросы:

    <br>
  <br>
    <br>Q- Будет ли больше новелл?
    <br>A- Да. Все согласованные, но ещё не законченные,  новеллы помечены на главном экране кнопкой "Скоро...".
    <br>
    <br>Q- Могу ли я сделать свою новеллу?
    <br>A- Да. Для публикации вашей новеллы на сайте, обращайтесь по почте uflbufl@yandex.ru
    <br>
    <br>Q- Запустил на телефоне и теперь не вижу кнопки навигации. Что делать?
    <br>A- Для доступа к кнопкам навигации на телефоне, нажмите на шапку
    сайта(чёрную полосу с логотипом вверху). Нажмите ещё раз, что бы скрыть кнопки навигации.
    <br>
    <br>Q- В одной из новелл в углу экрана есть комментарии, они иногда мешают прочтению текста.
    <br>A- Нажмите на блок комментария для сокрытия текста.
    <br>
    <br>Q- Для чего нужна регистрация?
    <br>A- В данный момент регистрация позволяет пользователю сохранять прогресс прочтения новелл.
    В будущем будет больше возможностей:)
    <br>
    <br>Q- Где книга жалоб?
    <br>A- Все жалобы и предложения пожалуйста присылайте на почту uflbufl@yandex.ru
  </p>

  <%#= image_tag('help.png', class: "help_img") %>
</div>