
  <div class="game_block">
    <div class="image_block">
      <%= image_tag(game.image, class: "game_icon") %>
    </div>
    <h2 class="game_name"><%= game.name %></h2>

    <button class="game_start_button" onclick="">START</button>
    <%= button_to "START", 'play/'+game.first_page_id.to_s, class: 'game_start_button', method: :get %>
  </div>