// Place all the styles related to the Games controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/


.main_page{
  position: relative;
  display: block;
  width: 100%;
  box-sizing: border-box;
  text-align: justify;
}
.main_page:after{
  position: relative;
  display: inline-block;
  width: 100%;
  box-sizing: border-box;
  vertical-align: top;
  content: '';
}
.main_page>div{
  position: relative;
  display: inline-block;
  margin: 20px;
}

.block{
  margin-left: auto;
  margin-right: auto;
  text-align: center;
  border-radius: 8px;
  box-shadow: 0 2px 16px 0 rgba(0, 0, 0, 0.15);
  background-color: azure;

  &_game{
    width: 250px;
    height: 440px;

    &:hover{
      box-shadow: 0 2px 16px 20px rgba(0, 0, 0, 0.15);
    }
  }

  &_info{
    text-align: left;
    padding: 30px;
  }

  &_help{
    max-width: 600px;
    text-align: left;
    padding: 30px;
  }
}

.game_name{
  margin-left: 10px;
  margin-right: 10px;
  color: crimson;
  font-family: 'Antelive Bold', serif;
}

.game_icon{
  margin-top: 20px;
  border: solid 1px #979797;
  object-fit: cover;

  width: 200px;
  height: 200px;
  border-radius: 50%;
}

.button{
  font-family: 'Antelive Bold', serif;
  margin-top: 20px;
  background-color: #FF4500;
  font-size: 19px;
  text-align: center;
  font-weight: bold;
  border: 0;
  outline: 0;
  padding: 0;
  color: azure;
  border-radius: 100px;
  box-shadow: 0 4px 16px 0 rgba(237, 65, 89, 0.4);


  &_game_start{
    width: 170px;
    height: 40px;
  }

  &_settings{
    width: 270px;
    height: 50px;
  }

  &:hover {
    box-shadow: 0 6px 20px 0 rgba(237, 65, 89, 0.4);
    background-color:azure;
    color: #FF4500;
  }
  &:active {
    box-shadow: 0 2px 10px 0 rgba(237, 65, 89, 0.5);
    background-color: azure;
    color: #FF4500;
  }
}

.invisible_text{
  margin-top: 20px;
  border: 0;
  outline: 0;
  padding: 0;
  width: 170px;
  height: 40px;
  color: azure;
  cursor: default;
}