// Place all the styles related to the Game controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/

.play_page{
  background-color: azure;
  margin-top: 30px;
  border-radius: 8px;
  box-shadow: 0 2px 16px 0 rgba(0, 0, 0, 0.15);
  padding: 30px;
  margin-bottom: 30px;
}

.img_page{
  border-radius: 8px;
  box-shadow: 0 2px 16px 0 rgba(0, 0, 0, 0.15);
  padding: 30px;
}

.message {
  margin: 20px;
  color: crimson;
  text-align: center;
  font-size: 35px;
  font-family: 'Optial', serif;
  text-shadow: black 2px 2px 1px;
  position: relative;
}

.pick {
   color: azure;
   text-align: center;
  //padding-top: ;
   margin-top: 25px;
  padding: 5px;
   font-size: 25px;
   font-family: 'Optial', serif;
  &:hover{
    padding: 0;
    border: 5px groove azure;

  }
 }

.picks_all{
  margin-left: 25%;
  margin-right: 25%;
  position: relative;
  text-shadow: black 3px 3px 2px;
}

.pick_box {
  color: black;
  text-align: center;
  margin-top: 25px;
  font-size: 30px;
  font-family: 'B52', serif;
}

.game_img{
  margin-top: 20px;
  object-fit: cover;
  width: 50%;
  margin-left: 25%;
  margin-right: 25%;
  max-height: 400px;
  border-radius: 5%;
}

.img-wrap {
  position: relative;
  display:inline-block;
}

.img-wrap h3 {
  display:inline-block;
  position: absolute;
  left: 0;
  top: 200px;
  width: 100%;
}

.test_style{
  position: absolute;
  object-fit: cover;
  width: 100%;
  height: 100%;
  top: 0;
  left: 0;
  border-radius: 8px;
  box-shadow: 0 2px 16px 0 rgba(0, 0, 0, 0.35);
}

.comment{
  position: fixed;
  right: 20px;
  bottom: 20px;
  font-size: 18px;
  text-align: center;
  font-weight: bold;

  border-radius: 8px;
  box-shadow: 0 0 10px rgba(0,0,0,0.5);

  background-color: LightBlue;
  color: FireBrick;
  padding: 10px;

  min-width: 200px;
  max-width: 350px;
  min-height: 100px;

  font-family: 'VCR', serif;

  &_text{
  }

  &_img{
    width: 80px;
    height: 80px;
  }

  &:hover{
    background-color: azure;
    color: black;
  }
}

@media screen and (max-width: 767px) {
  .play_page {
    margin-top: 100px;
  }

  .message{
    font-size: 25px;
    margin-top: 25px;
  }

  .pick{
    font-size: 18px;
  }

  .comment{
    font-size: 15px;

    min-width: 150px;
    max-width: 250px;
    min-height: 70px;

    &_img{
      width: 65px;
      height: 65px;
    }
  }
}
