<div class="warner_block">

  Предупреждение!
  <br>
  Не знаю зачем вы зашли на эту страницу, но она не используется на сайте в данный момент.
  <br>
  Можете конечно поковырять, если очень хотите.

</div>